header {
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  background: rgb(23, 144, 219);
  color: white;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: rgb(21, 129, 197);
}

.toggle-button {
  display: none;
  width: 2rem;
}

/* automatically added by NavLink component */
.navbar-links li a.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}


@media (max-width: 800px) {

  header {
    flex-flow: column;
  }

  .logo-container {
    width: 100%;
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
}