#settings-container {
  width: 100%;
  justify-content: end;
  position: absolute;
  right: 2rem;
}

#user-profile-container {
  gap: 2rem;
}

.user-bio {
  color: grey;
}

#user-stats {
  justify-content: space-evenly;
  gap: 2rem;
}